/* BODY STYLING */
* {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    background-color: rgb(252, 104, 88);
    width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
}

footer {
    text-align: end;
    margin-top: 10px;
}

/* FORM STYLING */

form {
    width: 70%;
    margin: auto;
    padding: 15px;
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

select {
    color: darkslategray;
    width: 70%;
    padding: 10px 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

select:focus,
input:focus,
textarea:focus {
    background-color: lightblue;
}

input,
textarea {
    color: darkslategray;
    width: 70%;
    padding: 5px;
    margin-bottom: 20px;
}

label {
    padding-bottom: 5px;
}

#button-position {
    display: flex;
    flex-direction: row;
}

.button {
    color: rgb(252, 104, 88);
    font-weight: bold;
    letter-spacing: 2px;
    width: 60%;
    background-color: white;
    border-style: none;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}